:root {
  --dark-green: #60993d;
  --light-green: #defc61;
  --med-green1: #94fa5b;
  --med-green2: #b1fa5a;
}
/* global */
* {
  box-sizing: border-box;
}
body {
  font-family: "Roboto";
}

img {
  width: 100%;
}

/* buttons */
button.btn {
  background-color: white;
  border: 3px solid black;
  border-radius: 25px;
  color: black;
  padding: 10px 20px;
  font-weight: 800;
  text-transform: uppercase;
}
button.btn:hover {
  background-color: black;
  color: white;
  border: 3px solid white;
}
button.donate a:hover,
button.donate:hover {
  color: white;
}
button.register-here-button {
  background-color: var(--med-green2);
  margin-left: 10px;
}
.select-button {
  border: none;
  background: none;
  color: var(--dark-green);
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 900;
}
.select-button:hover {
  color: #fff;
}
.xbutton {
  background: none;
  border: none;
}
li {
  list-style: none;
}
li a:hover {
  color: #60993d;
}

.navbar-brand img {
  width: 80px;
  display: flex;
}
@media (min-width: 992px) {
  .navbar-expand-lg .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
    justify-content: flex-end;
  }
}

.nav-both {
  display: flex;
  flex-direction: column;
}

input {
  border: 0px;
  border-bottom: 2px solid black;
  margin-bottom: 5px;
}
nav {
  display: flex;
}
.brand-nav {
  display: flex;
}
.links-nav {
  display: flex;
  justify-content: flex-end;
}
.nav-item a {
  text-decoration: none;
  color: black;
}
.stars-img {
  width: 65px;
}

.form-data {
  display: flex;
  flex-direction: column;
}
.horiz-container {
  display: flex;
  margin-bottom: 100px;
}
.half-text {
  width: 50%;
}
.header-login-form {
  width: 40%;
}
.horiz-container-mid,
.horiz-container-three {
  display: flex;
}
.img-container {
  width: 40%;
}

.options-card-holder {
  display: flex;
  border: none;
}

.form-search,
.form-search input {
  border: none;
  border-radius: 5px;
  background-color: var(--light-green);
  padding: 5px;
  /* margin-bottom: 10px; */
}

.form-search ul {
  border-top: 2px solid var(--dark-green);
  padding: 5px;
  margin-bottom: 0px;
}
.form-data input {
  margin-bottom: 10px;
  padding: 5px;
}
.form-data {
  padding: 5px;
}
.full-section {
  text-align: center;
}

.contribution-container {
  margin-bottom: 20px;
}

@media (max-width: 501px) {
  .horiz-container,
  .header-login-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
  }
  .half-text,
  .img-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
  }
  .horiz-container-mid {
    display: flex;
    flex-direction: column;
  }
  .horiz-container-three {
    display: flex;
    flex-direction: column-reverse;
  }
}
