* {
  box-sizing: border-box;
}

img {
  width: 100%;
}
nav img {
  width: 80px;
}
.navbar-nav {
  display: flex;
  justify-content: space-between;
}
.nav-item a {
  text-decoration: none;
  color: black;
}
